<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.blo_title }}</title>
</head>

<body>
    {% include 'menu.html' %}

    <h1>
        {{ blog.blo_title }}
    </h1>

    <h2>
        {{ blog.blo_subtitle }}
    </h2>

    <p>
        {{ blog.blo_description }}
    </p>

    <p>
        {{ blog.slug }}
    </p>
    
    {% if blog.blo_image %}
    <img src="{{ blog.blo_image.url }}" alt="{{ blog.blo_title }}" width="600">
    {% endif %}

    <hr>


</body>

</html>