{% extends '_main.html' %}
{% load static %}
{#
A tag acima é usada para indicar que o template atual deve herdar o layout e o conteúdo de um template base, neste caso
_main.html. Isso permite reutilizar uma estrutura comum para várias páginas do site, como cabeçalho, rodapé e outros
elementos comuns, facilitando a manutenção e a consistência do design.
A tag {% load static %} é usada em templates do Django para carregar o módulo de tags "static", que permite referenciar
arquivos estáticos (como CSS, JavaScript, imagens, etc.)
#}
{# {% block title %}Home - My Website{% endblock %} #}
{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/banner_1_1920x800.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.5);">
                <h2>Por que estudar Python?</h2>
                <p>A demanda por desenvolvedores Python só cresce. Aprender Python pode abrir portas para oportunidades
                    de emprego bem remuneradas e estáveis.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/banner_2_1920x800.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.5);">
                <h2>Potencialidades do Python</h2>
                <p>Ciência de Dados, Análise de Dados, Aprendizado de Máquina, Inteligência Artificial, Programação Web
                    etc.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/banner_3_1920x800.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.5);">
                <h2>Foco na Produtividade</h2>
                <p>Python permite que você escreva menos código para realizar tarefas complexas, aumentando sua
                    produtividade. Sua abordagem orientada a objetos e funcional também ajuda a organizar o código de
                    forma eficaz.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <h1 style="text-align: center;">
        Projeto Web com DJANGO
    </h1>
    <!-- <h3>{{ courses }}</h3> -->
    <hr>
    <section class="conteinerFlex">
        <div class="itemFlex50">
            <h3>Elemento de uma lista de Linguagens de Programação</h3>
            <!-- {{ languages }} -->
            <p>
                Um valor da Lista: <b> {{ languages.2 }} </b>
            </p>
        </div>
        <div class="itemFlex50">

            <ul>
                {% for language in languages %}
                <li>{{ language }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>

<!-- {{ news }} -->
<section style="background-color: #111; padding: 20px;">
    <div class="container">
        <div class="row">
            <h1 style="color: #fff; text-align: center;">Por que Python?</h1>
            <hr style="border: #fff 1px solid;">
            {% for new in news %}
            <div class="col-sm-6 mb-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h2>{{ new.id }}. {{ new.title }}</h2>
                        <hr>
                        <p>{{ new.subtitle }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

</section>

<div class="container">
    <section style="margin: 20px 0">
        <h1 style="text-align: center;">
            Python pra todos!!!
        </h1>
        <hr>
        <img class="rounded mx-auto d-block" src="{% static 'images/python.jpg' %}" alt="Guitar">
    </section>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    Bem-vindo ao Meu Projeto
                </div>
                <div class="card-body">
                    <h5 class="card-title">Título do Card</h5>
                    <p class="card-text">Este é um exemplo de card usando classes do Bootstrap no Django.</p>
                    <a href="#" onclick="f_teste()" class="btn btn-dark">Função JS</a>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}