{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    {%  include 'menu.html' %}

    <h1>
        Home - Django
    </h1>

    <hr>

    <h2>{{ courses }}</h2>

    <hr>

    <h2>Linguagens de Programação</h2>
    {{ languages }}
    <hr>
    1 valor da Lista: <b> {{ languages.2 }} </b>
    <hr>
    <ul>
        {% for language in languages %}
        <li>{{ language }}</li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Notícias</h2>
    {{ news }}
    <hr>
    {% for new in news %}
    <div class="noticia">
        <h3>{{ new.title }}</h3>
        <h4>{{ new.subtitle }}</h4>
        <p>{{ new.text }}</p>
    </div>
    {% endfor %}

    <img src="{% static 'images/guitar.jpg' %}" alt="Guitar">

    <hr />
    <button onclick="f_teste()"> Função JS </button>

</body>

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

</html>