
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li> <a href="{% url 'produtos' %}"> Produtos </a></li>
        <li> <a href="{% url 'blogs' %}"> Blogs </a></li>
        <li> <a href="{% url 'contato' %}"> Contato </a></li>
    </ul>
</nav>

<!-- <nav>
    <ul>
        <li> <a href="/"> Home </a></li>
        <li> <a href="/produtos"> Produtos </a></li>
        <li> <a href="/blogs"> Blogs </a></li>
        <li> <a href="/contato"> Contato </a></li>
    </ul>
</nav> -->