{% extends '_main.html' %}
{% load static %}
{% block content %}

<h2>
    Python - Produtos
</h2>
<!-- {{ category }} -->
<!-- Filtragem por categoria -->
<ul>

    {% for c in category %}
    <li><a href="{% url 'produtos_categoria' c.name %}">{{ c.name }}</a></li>
    {% endfor %}
</ul>
<!-- Listagem de produtos -->
<ul>
    {% for pro in product %}
    <li>{{ pro.name }} - {{ pro.category.name }}</li>
    <p>Preço: R$ {{ pro.price }}</p>
    <p>Quantidade em Estoque: {{ pro.stock }}</p>
    {% empty %}
    <li>Nenhum produto encontrado.</li>
    {% endfor %}
</ul>

{% endblock %}