{% extends '_main.html' %}
{% load static %}
{% block content %}

<h2>
    Python - Produtos
</h2>
{{ categories }}
<!-- Filtragem por categoria -->
<ul>

    {% for cat in category %}
    <li><a href="{% url 'produtos_categoria' cat_name=cat.cat_name %}">{{ category.cat_name }}</a></li>
    {% endfor %}
</ul>
<!-- Listagem de produtos -->
<ul>
    {% for pro in product %}
    <li>{{ pro.pro_name }} - {{ pro.pro_category.cat_name }}</li>
    <p>Preço: R$ {{ pro.pro_price }}</p>
    <p>Quantidade em Estoque: {{ pro.pro_stock }}</p>
    {% empty %}
    <li>Nenhum produto encontrado.</li>
    {% endfor %}
</ul>

{% endblock %}