{% extends '_main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>
        Python - Produtos
    </h2>
    <!-- {{ category }} -->
    <!-- Filtragem por categoria -->
    {% for c in category %}
    <p>
        <a href="{% url 'produtos_categoria' c.name %}">{{ c.name }}</a></li>
    </p>
    {% endfor %}
    <hr>
    <p>
        <!-- {{ product }} -->
    </p>
    {% for p in product %}
    <p>
        <a href="{% url 'produto_single' p.id %}">{{ p.name }}</a>
    </p>
    {% endfor %}
</div>

{% endblock %}