{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% include 'menu.html' %}

    <h2>
        Python - Produtos
    </h2>

    {{ categories }}
    <!-- Filtragem por categoria -->


    {% for category in categories %}
    <p>
        <a href="{% url 'produtos_categoria' cat_name=category.cat_name %}">{{ category.cat_name }}</a></li>
    </p>
    {% endfor %}


    <hr>

    <p>
        {{ products }}
    </p>

    {% for p in products %}
    <p>
        <a href="{% url 'produto_single' p.id %}">{{ p }}</a>
    </p>
    {% endfor %}
</body>

</html>